nav ul li a:link {
	font-family: lato, sans-serif;
    color: #2F4F4F;
    text-decoration: none
}

nav ul li a:hover {
	font-family: lato, sans-serif;
    color: #312020;
    text-decoration: none
}

