.column-1 {
  display: inline-block;
  background-color: #C0D9AF;
  width: 49%;
  left: 0;
  margin-bottom: 150px;
  border-radius: 5px;
  }

  .column-2 {
  display: inline-block;
  background-color: #C0D9AF;
  width: 49%;
  left: 0;
  margin-bottom: 150px;
  vertical-align: top;
  border-radius: 5px;
  }

  ul {
  	list-style-type: none;
  }

  p {
  	margin-top: -10px;
  }